/* BOLD.CSS
To include this file in your theme, add the following before the closing </head> tag in theme.liquid
{{ 'bold.css' | asset_url | stylesheet_tag }}
 */

.bold_option_element select, .bold_option_element input[type="text"] {
    display: block;
}
.bold_option_title {
    color: #1C1D1D;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 0.75em;
    font-size: 11px;
}
.bold_option_value_title {
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 0.025em;
    font-weight: 400;
}
.bold_tooltip small {
    letter-spacing: normal;
    font-weight: 800;
}
.bold_option_element select, .bold_option_element input[type="text"] {
    display: block;
    width: 100%;
  	margin-bottom: 10px;
}
.bold_options {
    font-size: 11.9px;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 0.025em;
    line-height: 1.6;
    font-weight: normal;
    background-color: #fff;
}

.bold_option.bold_option_checkboxmulti {
/*     text-align: center; */
}

.bold_option_radio .bold_option_element .bold_option_value .bold_option_value_title{
font-size:11px !important;
}

.bold_option_checkboxmulti .bold_option_title{
text-align:left;
  width: 100%;
}

.bold_option_checkboxmulti .bold_option_element{
  width:63%;
  text-align: center;
}